{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Styles block -->

{% block styles%}

<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="styles" style="background-image: url(../static/photos/blog1.jpeg); background-size: cover; background-repeat: no-repeat;background-position: center; height: 100vh;" > 
<h1 style="color: brown;">
    <br>
    <br>
    <br>
    <center><b>WELCOME TO THEE BLOG WEBSITE</b></center>
</h1>
<br><br>

<div class="quote1">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <p>{{ quote.author }}</p>
                
                <p class="text-right"><b>~ {{ quote.quote }} ~</b> </p>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}
